body {
  background-color: #ffd1dc;
  padding: 0;
  font-family: 'Poppins', sans-serif; /* Added Poppins font */
}

h2 {
  padding: 30px 80px;
  background-color: #ff91a4;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: #eee;
  margin-top: -10px;
}

h3 {
  padding: 30px 80px;
  background-color: #e75480;
  text-align: center;
  font-size: 33px;
  height: 120px;
  font-weight: bold;
  text-align: left;
  color: #eee;
}

p {
  text-align: center;
}

.search-bar-container {
  display: flex;
  justify-content: right;
  margin-right: 180px;
  margin-bottom: 50px;
  margin-top: -90px;
}

.input-design {
  border: none;
  height: 100%;
  border-radius: 5px;
  font-size: 15px;
  text-align: center;
  width: 20%;
  height: 30px;
  margin-right: 20px;
}

.input-design:focus {
  outline: none;
}

.modal-button {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
  margin-top: -85px;
}

.modal-button button {
  
  margin-right: 10px;
  width: 100px;
  font-size: 15px;
  height: 30px;
  border: none;
  margin-bottom: 60px;
  background-color:white;
}

.modal-button-2 button {
  margin-top: 20px;
  margin-right: 10px;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: none;
  margin-bottom: 60px;
  background-color: #ffecc6;
}

.modal {
  border-radius: 8px;
  background-color: blanchedalmond;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 380px;
  height: 430px;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 9998;
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-bottom: 10px;
}

.form-row input {
  border-radius: 5px;
  width: 300px;
  height: 50px;
  margin-right: 10px;
}

.close {
  cursor: pointer;
  align-self: flex-end;
  margin-right: 10px;
  font-size: 54px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.item-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  margin-bottom: 10px;
  justify-content: center;
}

.item-box-1 {
  margin-top: 20px;
  width: 100%;
  background-color: lightpink;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  margin-bottom: 30px;
}

.item-box-2 {
  margin-top: 10px;
  width: 100%;
  background-color: lightpink;
  border-radius: 20px;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.recipeName{
  margin-left: 10px;
  margin-bottom: 20px;
}
.buttons {
  margin-top: 10px;
  display: flex;
  justify-content: right;
  margin-right: 20px;
  gap: 10px;
}

button {
  font-size: 16px;
  padding: 7px 7px;
  font-size: 15px;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 10px;
  border: none;
}
